@tailwind base;
@tailwind components;

/* src/WeatherApp.css */
.weather-app {
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: #b4acd0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 60%;
    height: 60%;
    margin-top: 40px;
}

.weather-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
}

@tailwind utilities;